.timer {
    display: flex;
    margin: 0 auto;
    background: rgba(37, 33, 33, 0.7);
    border-radius: 2vh;
    justify-content: center;
    max-width: 99vh;
}

.text {
    display: flex;
    margin: 0 auto;
    text-align: center;
    font-size: 15vh;
    color: rgb(255, 251, 0);
    background: rgba(37, 33, 33, 0.7);
    max-width: 110vh;
    border-radius: 2vh;
    margin-bottom: 3vh ;


}

.field {
    display: flex;
    flex-direction: column;
    padding: 2vh;
    text-align: center;

}

.value {
    min-width: 15vh;
    color: rgb(255, 251, 0);
    font-size: 15vh;
}

.label {
    min-width: 5vh;
    color: rgb(255, 251, 0);
    font-size: 5vh;
}